@page "/OrderItemsPageshow"
@attribute [StreamRendering]
@rendermode InteractiveServer
@using OrderDeliverySystem.AdministrationPanel.Services.Contracts;
@using OrderDeliverySystem.AdministrationPanel.Services.Order.Models;

@inject IOrderService orderService;
@using OrderDeliverySystem.AdministrationPanel.Components.OrederCard;
@using OrderDeliverySystem.AdministrationPanel.Components.Pages.Orders;


@if (Orders == null)
{
    <h3>Loading orders ...</h3>
}
else
{
    <DisplayOrderItemsByDayRange></DisplayOrderItemsByDayRange>

    @* <DisplayOrders Orders="@Orders"></DisplayOrders> *@
}




@code {

    public IEnumerable<OrderDto> Orders { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Orders = await orderService.GetAllOrders();
    }
}